body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

#banner {
    max-width: 100%;
    height: 250px;
    object-fit: cover; /* Crop the image to cover the container */
}

#no-button,
#yes-button {
    margin: 10px;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    outline: none; /* Remove outline on focus */
}

#no-button {
    background-color: #ff5f5f; /* Red */
}

#yes-button {
    background-color: #4caf50; /* Green */
}

#no-button:hover,
#yes-button:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

#no-button:active,
#yes-button:active {
    transform: translateY(2px); /* Add slight downward movement on click */
}

/* Add a box shadow for depth */
#no-button,
#yes-button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Make responsive for mobile */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
} */

.container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
		flex-direction: column;
	    padding: 20px;
}

.message {
    display: none;
}

.banner-img {
    width: 100%;
    height: auto;
    margin-top: 20px;

    img {
        width: auto;
        height: 250px;
    }
}

.creator {
    text-decoration: none;
    color: #333;
}

.creator:visited {
    text-decoration: none;
    color: #333;
}

.creator:hover {
    text-decoration: underline;
    color: #555;
}


/* CSS For Mobile */
@media (max-width: 768px) {
    .language-selector {
        position: unset;
        margin-top: 30px;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
